<% if Rails.env.development? %>
  <div class="dev-signin" data-controller="dev-signin">
    <h3>Development Sign In</h3>
    <%= button_tag "Dev User", class: "dev-user-button", data: { action: "click->dev-signin#signIn", email: "dev@example.com", password: "Xk9#mP7$qR2@vL5" } %>
  </div>
<% end %>
